<!-- 
Project: server - My Portfolio
Author: Bruno Rian Nunes de Souza
License: GNU General Public License v3.0


This program is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License, version 3, as published
by the Free Software Foundation.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program.
If not, see <http://www.gnu.org/licenses/>.
-->

I'm Bruno Rian Nunes de Souza, a passionate software developer and student from Cascavel, PR, Brazil. Currently pursuing an <b>Integrated IT Course</b> at the Federal Institute of Paraná, I specialize in building efficient, well-documented solutions across diverse domains.
<br><br>
Driven by my love for video games since childhood (especially 90s classics like Sonic and Mario), I create community-focused open-source tools while exploring unconventional domains like <b>SNES development</b> and <b>music production</b>. My work balances technical rigor with creative expression - from algorithm design to guitar compositions.
<br><br>
Always seeking new challenges, I thrive on transforming complex problems into organized solutions while actively contributing to open-source communities.