<!DOCTYPE html>
{% load static %}
{% load compress %}
<html lang="en">
<head>
    {% include 'global/header_tags.html' %}
    {% include 'global/inc_bootstrap.html' %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'global/global.scss.css' %}" type="text/x-sass">
    <link rel="stylesheet" href="{% static 'home/page.scss' %}" type="text/x-sass">
    <link rel="stylesheet" href="{% static 'home/col_img.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/col_portfolio.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/col_dropbtn.scss' %}" type="text/x-sass">
    {% endcompress %}
    <link rel="icon" href="{% static 'global/favicon.ico' %}">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid page p-0 mb-0">
        <div class="row">
            {% include 'home/col_img.html' %}
            {% include 'home/col_portfolio.html' %}
            {% include 'home/col_dropbtn.html' %}
        </div>
    </div>
</body>
</html>
