<!DOCTYPE html>
{% load static %}
{% load link_stylesheets %}
<html lang="en">
<head>
    {% include 'global/header_tags.html' %}
    {% include 'global/inc_bootstrap.html' %}
    {% load_stylesheets css_files scss_files %}
    <link rel="icon" href="{% static 'global/favicon.ico' %}">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid page p-0 mb-0">
        <div class="row">
            {% include 'home/col_img.html' %}
            {% include 'home/col_portfolio.html' %}
            {% include 'home/col_dropbtn.html' %}
        </div>
    </div>
</body>
</html>
