.page {
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 100%;
    background: linear-gradient(rgb(40, 40, 40), gray);
    
}

.navbar-style {
    background-color: #23144b;
    font-size: 30px;
    height: 32px;
    border: none;
    margin-right: 0;
    position: relative;
    top: 0;
    right: 0;
}

.dropbtn {
    background-color: #23144b;
    color: white;
    font-size: 22px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

#dropdown-content {
    max-width: 180px;
    background-color: #23144b;
    text-align: center;
    line-height: 1.5;
    border: none;
    margin-top: 0px !important;
    margin-left: 0px !important;
    top: 0px !important;
    
}

#btn-a {
    color: rgb(168, 168, 168);
}

#btn-b {
    color: rgb(168, 168, 168);
}


.pro-img {
    float: center;
}

.portfolio {
    float: right;
}